@charset "UTF-8";

/* https://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

@font-face {
    font-family: 'fawe';
    src: url('/fonts/fontello.woff2') format('woff2'),
         url('/fonts/fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    background: #fcffff;
    font-family: 'Alegreya Sans',Helvetica,sans-serif
}

body {
    position: relative;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
    min-height: 100%;
    height:auto;
}

@media only screen and (max-width: 550px) {
    body { font-size: 1.3em; }
}

a, a:visited { color: #22538e; text-decoration: none }
a:active { color:#00bece !important }
a:hover { color: #09c; text-decoration: underline }

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    text-rendering: optimizelegibility;
    margin-bottom: .25em;
}

#title {
    /* margin-top: 16px; */
    padding: 24px 0;
    color: #fcffff;
    /* https://stackoverflow.com/a/34556311/79202 */
    background-color: #22538e;
    background-image: linear-gradient(45deg, #22538e 25%, transparent 25%, transparent 75%, #22538e 75%, #22538e), linear-gradient(45deg, #22538e 25%, transparent 25%, transparent 75%, #22538e 75%, #22538e), linear-gradient(to bottom, #22538e, #3878c7);
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
}

#title h1 {
    color: #fcffff;
    font-size: 1.8em;
    font-weight: bold;
}

h1 { font-size: 1.5em; color: #22538e; }
h2 { font-size: 1.3em; color: #22538e; }
h3 { font-size: 1.2em }
h4 { font-size: 1em }
h5 { font-size: .9em }
h6 { font-size: .8em }

hr {
    margin: 1em 0;
    border: 0;
    border-bottom: 2px dotted #ccc;
}

p, blockquote, ul, ol {
    margin-bottom: 1em
}

#masthead, body > #title > *, body > main, #hi > *, body > footer > * {
	padding: 12px;
    margin: 0 auto;
	max-width: 720px;
}

#masthead {
    vertical-align: bottom;
    margin: 10px auto;
}

#masthead > hgroup {
    float: left;
}

#masthead img {
	height: 50px;
}

body > footer {
    font-size: 60%;
	line-height: 1.4;
    font-weight: 200;
    border-top: 1px solid #ddd;
    width: 100%;
    position: absolute;
    bottom: 0;
}

main {
    min-height:100%;
    height:auto;
    padding: 32px 12px 75px  !important;
}

main > section { border-top: 4px double #22538e; padding: 12px 0; }
main > section:first-of-type { border: none !important; }

#hi {
    display: block;
    color: #fff;
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: 500;
    text-shadow:  #2e2e2e 2px 4px 5px;
    padding: 32px;
	background-color: #f6fbfc;
    background-image: url(/img/messeplatz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hi > * {max-width: 650px;}

@media only screen and (max-width: 550px) {
    #hi { font-size: 1.5em; padding: 20px;}
}

#bar {
    padding: 24px 0 0;
    white-space: nowrap;
    list-style-type: none;
    text-align: right;
}

#bar li {
    display: inline;
    padding-left: 16px;
}

#bar i, .code:before, #info a:before, .page section:before {
    font-family: fawe;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
}

.about:before { content: "\f05a" }
.docs:before { content: "\f02d" }
.community:before { content: "\f086" }
.download:before { content: "\f019" }
.code:before { content: "\f121" }
.db:before { content: "\f1c0" }
.cli:before { content: "\f120" }
.depend:before { content: "\f126" }
.hash:before { content: "\f292" }
.dev:before { content: "\f2f1" }
.brew:before { content: "\f0fc" }
.docker:before { content: "\f395" }
.cpan:before { content: "\e803" }
.ubuntu:before { content: "\f7df" }
.windows:before { content: "\f17a" }
.apple:before { content: "\f179" }
.centos:before { content: "\f789" }
.video:before { content: "\f03d" }
.mail:before { content: "\f0e0" }
.github:before { content: "\f09b" }
.twitter:before { content: "\f099" }
.news:before { content: "\f1ea" }
.feed:before { content: "\f09e" }
.zip:before { content: "\f1c6" }

body > footer .code:before {
    line-height: 1em;
    float:left;
    color: #22538e;
    padding: 0 10px 0 0
 }

 body > footer .code:before {
    font-size: 2.5em;
    opacity: 0.2;
 }

.page section:before {
    float: left;
    font-size: 2.2em;
    line-height: 1.2em;
    width: 45px;
    height: 45px;
    background-color: #dee8f0;
    border-radius: 5px;
    margin: 0 16px 16px 0;
    padding: 16px;
    text-align: center;
    color: #817565;
    display: inline-block;
 }

 #info li {
    list-style-type: none;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

@media only screen and (min-width: 750px) {
    #info li {width: 354px; margin-bottom: 24px;}
    #info ul:nth-child(odd) {margin-right: 8px;}
    #info ul:nth-child(even) {margin-left: 8x;}
}

#info {
    padding-top: 24px;
}

#info h3 {
    font-size: 1.1em;
    font-weight: bold;
}

#info a:before {
    font-family: fawe; font-size:2em;
    line-height: 1em;
    color: #817565;
    opacity: 0.6;
    float:left;
    text-align: center;
    padding: 0 15px 50px 0;
}

#info a:hover:before {
    opacity: 1.0 !important;
}

main li {
    list-style-position: outside;
    margin-left: 1.1em;
}

.toc {
    float: right;
    margin: 0 0 1em 1em;
    font-size: 95%;
    line-height: 1.8em;
    background: transparent none repeat scroll 0 0;
    direction: rtl; /* Keeps details inside parent's right border */
}

@media only screen and (min-width: 550px) {
    .toc {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}

.toc details { opacity: 0.5;}
.toc details:hover { opacity: 0.5; opacity: 1; cursor: pointer; }
.toc details[open] { opacity: 1 }

.toc summary {
    display: inline-block;
    background-color:#dee8f0;
    border-radius: 5px;
    list-style: none;
}

/* Replace the h4 text with an icon. */
.toc summary h4 { display: none; }
.toc summary:before {
    font-family: 'fawe';
    color: #22538e;
    font-size: 1.3em;
    line-height: 1em;
    padding: 0.4em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "\f00b";
    display: inline-block;
}

.toc summary::-webkit-details-marker {
    display: none;
}

.toc nav {
    overflow: scroll;
    background-color:#dee8f0;
    border-radius: 5px;
    z-index: 10;
    box-shadow:  #889 -1px 1px 3px;
    position: absolute;
    max-height: 600px;
}

.toc > ul { min-width:180px; max-width:300px;  }
.toc li { list-style-type: none; margin: 0; white-space: nowrap; overflow-x: auto}
.toc ul { margin: 0 16px 16px 16px; }
.toc nav h3 { margin: 16px 16px 0; }
.toc ul, .toc h3 { direction: ltr; } /* Restore ltr */
.toc ul ul { margin: 0 0 0 1em }

pre {
    border: 0;
    line-height: 1.45em;
    margin-bottom: 2.1em;
    padding: .8em 1em;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
}

p code, li code {
    display: inline-block;
    white-space: no-wrap;
    background-color: #eee;
    padding: 0 .3em;
    border: 1px dotted #ccc;
    line-height: 1.45em;
}

p pre code, li pre code {
    background: none;
    border: none
}

.mono, pre, code, tt, p code, li code {
    font-size: .9em;
    font-family: "Source Code Pro", "Courier", monospace
}

/* hugo gen chromastyles --style=monokai >> themes/justatheory/static/css/screen.css */
/* Background */ pre, .chroma { color: #f8f8f2; background-color: #333 } /* Modified to add pre and to lighten background */
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #66d9ef }
/* KeywordConstant */ .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .chroma .kr { color: #66d9ef }
/* KeywordType */ .chroma .kt { color: #66d9ef }
/* NameAttribute */ .chroma .na { color: #a6e22e }
/* NameClass */ .chroma .nc { color: #a6e22e }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction */ .chroma .nf { color: #a6e22e }
/* NameOther */ .chroma .nx { color: #a6e22e }
/* NameTag */ .chroma .nt { color: #f92672 }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #e6db74 }
/* LiteralString */ .chroma .s { color: #e6db74 }
/* LiteralStringAffix */ .chroma .sa { color: #e6db74 }
/* LiteralStringBacktick */ .chroma .sb { color: #e6db74 }
/* LiteralStringChar */ .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .chroma .s2 { color: #e6db74 }
/* LiteralStringEscape */ .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .chroma .si { color: #e6db74 }
/* LiteralStringOther */ .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .chroma .s1 { color: #e6db74 }
/* LiteralStringSymbol */ .chroma .ss { color: #e6db74 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: #f92672 }
/* OperatorWord */ .chroma .ow { color: #f92672 }
/* Comment */ .chroma .c { color: #75715e }
/* CommentHashbang */ .chroma .ch { color: #75715e }
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }
/* CommentSpecial */ .chroma .cs { color: #75715e }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* GenericDeleted */ .chroma .gd { color: #f92672 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #75715e }
