@charset "UTF-8";

/* https://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

@font-face {
    font-family: 'FAS';
    src: url('/fonts/fa-solid.woff2') format('woff2'),
         url('/fonts/fa-solid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    background: #fcffff;
    font-family: Helvetica,sans-serif
}

body {
    position: relative;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
    min-height: 100%;
    height:auto;
}

a, a:visited { color: #22538E; text-decoration: none }
a:active { color:#00bece !important }
a:hover { color: #06e; text-decoration: underline }

body > main, #hi > *, body > footer > * {
	padding: 12px;
    margin: 0 auto;
	max-width: 720px;
}

body > header {
	padding: 12px;
    vertical-align: bottom;
    margin: 10px auto;
}

body > header > hgroup {
    float: left;
}

body > header img {
	height: 50px;
}

body > footer {
    font-size: 60%;
	line-height: 1.4;
    font-weight: 200;
    border-top: 1px solid #ddd;
    width: 100%;
    position: absolute;
    bottom: 0;
}

main #info a, #info a:visited {color:#c00}
#info a:hover, #info a:focus {color: #f00}
#info a:active {color: #A62A17 !important}

main {
    min-height:100%;
    height:auto;
    padding-bottom: 75px !important;
}

#hi {
    display: block;
    color: #fff;
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: 500;
    text-shadow:  #2e2e2e 2px 4px 5px;
    margin: 0;
	padding: 32px;
	background-color: #f6fbfc;
    background-image: url(/img/messeplatz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hi > * {max-width: 650px;}

@media only screen and (max-width: 550px) {
    #hi { font-size: 1.5em; padding: 20px;}
}

#bar {
    padding: 24px 0 0;
    white-space: nowrap;
    list-style-type: none;
    text-align: right;
}

#bar li {
    display: inline;
    padding-left: 16px;
}

#bar i, .code:before {
    font-family: FAS;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
}

.about:before { content: "\f05a" }
.docs:before { content: "\f02d" }
.community:before { content: "\f086" }
.download:before { content: "\f019" }
.code:before { content: "\f121" }

body > footer .code:before {
    font-size: 2.5em;
    line-height: 1em;
    float:left;
    color: #22538E;
    opacity: 0.2;
    padding: 0 10px 0 0
 }

#info li {
    list-style-type: none;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

@media only screen and (min-width: 750px) {
    #info li {width: 356px}
}

#info {
    padding-top: 24px;
}

#info h3 {
    font-size: 1.1em;
    font-weight: bold;
}

#info li:before {
    font-family: FAS; font-size:2em;
    line-height: 1em;
    color: #22538E;
    opacity: 0.3;
    float:left;
    text-align: center;
    padding: 0 15px 50px 0;
}

