@charset "UTF-8";

/* https://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

@font-face {
    font-family: fawe;
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/fontello.woff2') format('woff2'),
         url('/fonts/fontello.woff') format('woff');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/srccode-bld.woff2') format('woff2'),
         url('/fonts/srccode-bld.woff') format('woff');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/srccode-bldit.woff2') format('woff2'),
         url('/fonts/srccode-bldit.woff') format('woff');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/srccode-it.woff2') format('woff2'),
         url('/fonts/srccode-it.woff') format('woff');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/srccode-reg.woff2') format('woff2'),
         url('/fonts/srccode-reg.woff') format('woff');
}


@font-face {
    font-family: 'Alegreya Sans';
    src: url('/fonts/alegreyasans-thinitalic.woff2') format('woff2'),
         url('/fonts/alegreyasans-thinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/alegreyasans-thinitalic.woff2') format('woff2'),
         url('/fonts/alegreyasans-thinitalic.woff') format('woff');
  }

 @font-face {
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/alegreyasans-italic.woff2') format('woff2'),
         url('/fonts/alegreyasans-italic.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/alegreyasans-mediumitalic.woff2') format('woff2'),
         url('/fonts/alegreyasans-mediumitalic.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/alegreyasans-bolditalic.woff2') format('woff2'),
         url('/fonts/alegreyasans-bolditalic.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 800;
    src: url('/fonts/alegreyasans-extrabolditalic.woff2') format('woff2'),
         url('/fonts/alegreyasans-extrabolditalic.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 900;
    src: url('/fonts/alegreyasans-blackitalic.woff2') format('woff2'),
         url('/fonts/alegreyasans-blackitalic.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/alegreyasans-thin.woff2') format('woff2'),
         url('/fonts/alegreyasans-thin.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/alegreyasans-light.woff2') format('woff2'),
         url('/fonts/alegreyasans-light.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/alegreyasans-regular.woff2') format('woff2'),
         url('/fonts/alegreyasans-regular.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/alegreyasans-medium.woff2') format('woff2'),
         url('/fonts/alegreyasans-medium.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/alegreyasans-bold.woff2') format('woff2'),
         url('/fonts/alegreyasans-bold.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/alegreyasans-extrabold.woff2') format('woff2'),
         url('/fonts/alegreyasans-extrabold.woff') format('woff');
}

@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/alegreyasans-black.woff2') format('woff2'),
         url('/fonts/alegreyasans-black.woff') format('woff');
}


html {
    height: 100%;
    background: #fcffff;
    font-family: 'Alegreya Sans',Helvetica,sans-serif
}

body {
    position: relative;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
    min-height: 100%;
    height:auto;
}

@media only screen and (max-width: 550px) {
    main { font-size: 1.3em; line-height: 1.4em }
}

a, a:visited { color: #22538e; text-decoration: none }
a:active { color:#88b1e3 !important }
a:hover { color: #367bcf; text-decoration: underline }

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    text-rendering: optimizelegibility;
    margin-bottom: .25em;
}

em, dfn {
    font-style: italic
}

strong, dfn {
    font-weight: bold
}

del, s {
    text-decoration: line-through
}

abbr, acronym {
    border-bottom: 1px dotted;
    cursor: help
}

small {
    font-size: .8em
}

big {
    font-size: 1.2em
}

#title {
    /* margin-top: 16px; */
    padding: 24px 0;
    color: #fcffff;
    /* https://stackoverflow.com/a/34556311/79202 */
    background-color: #22538e;
    background-image: linear-gradient(45deg, #22538e 25%, transparent 25%, transparent 75%, #22538e 75%, #22538e), linear-gradient(45deg, #22538e 25%, transparent 25%, transparent 75%, #22538e 75%, #22538e), linear-gradient(to bottom, #22538e, #367bcf);
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
}

#title h1 {
    color: #fcffff;
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: #081320 0px 0px 4px;
}

h1 { font-size: 1.7em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em }
h4 { font-size: 1.1em }
h5 { font-size: .9em }
h6 { font-size: .8em }

hr {
    margin: 1em 0;
    border: 0;
    border-bottom: 2px dotted #ccc;
}

p, blockquote, ul, ol {
    margin-bottom: 1em
}

#masthead, body > #title > *, body > main, #hi > *, body > footer > * {
	padding: 12px;
    margin: 0 auto;
    display: block; /* required for IE */
	max-width: 720px;
}

#masthead {
    vertical-align: bottom;
    margin: 10px auto;
}

#masthead img {
	height: 50px;
}

#bar {
    padding: 30px 12px 0;
    white-space: nowrap;
    list-style-type: none;
    text-align: right;
    font-size: .9em;
}

#bar li {
    display: inline;
    padding-right: 16px;
}

#bar a:before { margin: 0 3px; font-size: 1.2em;}
#bar a:hover { text-decoration: none }
#bar a::before, .code:before, #info a:before, .page section:before {
    font-family: fawe;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
}

#masthead > hgroup { float: left }
@media only screen and (max-width: 600px) {
    #masthead > hgroup { float: none }
    #bar { padding: 12px 12px 0 !important }
    #bar li { padding-right: 8px; }
}
body > footer {
    font-size: 60%;
	line-height: 1.4;
    font-weight: 200;
    border-top: 1px solid #ddd;
    width: 100%;
    position: absolute;
    bottom: 0;
}

main {
    min-height:100%;
    height:auto;
    padding: 32px 12px 75px  !important;
}

main > section { border-top: 4px solid #cec9c1; padding: 12px 0; }
main > section:first-of-type { border: none !important; }
#install section pre { clear: both;}

#hi {
    display: block;
    color: #fff;
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: 500;
    text-align: center;
    text-shadow:  #081320 0px 0px 4px;
    padding: 64px 32px;
	background-color: #22538e;
    background-image: url(/img/messeplatz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hi > * {max-width: 600px;}

@media only screen and (max-width: 1000px) {
    #hi { font-size: 2em;}
    #hi a { font-size: .8em }
    #hi > * {max-width: 400px}
}
@media only screen and (max-width: 550px) {
    #hi { font-size: 1.5em; padding: 32px 20px;}
    #hi a { font-size: .75em !important }
    #hi > * {max-width: 300px}
}

#hi a, #hi a:visited {
    background-color: #fcffff;
    padding: .3em 1em;
    font-size: .6em;
    text-shadow: none;
    border-radius: 5px;
}
#hi a:before, #download a:before { font-family: fawe; margin-right: 7px; }
#hi a:hover, #hi a:active { text-decoration: none; background-color: #e8f0fa; color:#22538e !important }

.about:before { content: "\f05a" }
.docs:before { content: "\f02d" }
.community:before { content: "\f086" }
.download:before { content: "\f019" }
.code:before { content: "\f121" }
.db:before { content: "\f1c0" }
.cli:before { content: "\f120" }
.depend:before { content: "\f126" }
.hash:before { content: "\f292" }
.dev:before { content: "\f2f1" }
.brew:before { content: "\f0fc" }
.docker:before,#download a[href="docker"]:before { content: "\f395" }
.cpan:before { content: "\e803" }
.redhat:before,#download a[href="redhat"]:before { content: "\f7bc" }
.ubuntu:before,#download a[href="debian"]:before { content: "\f7df" }
.windows:before,#download a[href="windows"]:before { content: "\f17a" }
.apple:before,#download a[href="macos"]:before { content: "\f179" }
.centos:before { content: "\f789" }
.video:before { content: "\f03d" }
.mail:before { content: "\f0e0" }
.github:before { content: "\f09b" }
.twitter:before { content: "\f099" }
.news:before { content: "\f1ea" }
.feed:before { content: "\f09e" }
.zip:before,#download a[href="source"]:before { content: "\f1c6" }
.bug:before { content: "\f188" }
.upload:before { content: "\f093" }
.cog:before { content: "\f013" }
.teach:before { content: "\f51c" }
.cc:before { content: "\f25e" }
.sqitch:before { content: "\e80c" }

body > footer .code:before {
    line-height: 1em;
    float:left;
    color: #22538e;
    padding: 0 10px 0 0
 }

 body > footer .code:before {
    font-size: 2.5em;
    opacity: 0.2;
 }

.page section:before {
    float: left;
    font-size: 2.5em;
    line-height: 1.2em;
    width: 50px;
    height: 50px;
    background-color: #dae7f6;
    border-radius: 5px;
    margin: 0 16px 16px 0;
    padding: 16px;
    text-align: center;
    color: #776c5e;
    display: inline-block;
 }

 @media only screen and (max-width: 550px) {
    .page section:before { font-size: 1.8em };
}

 #info li {
    list-style-type: none;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

@media only screen and (min-width: 750px) {
    #info li {width: 354px; margin-bottom: 24px;}
    #info ul:nth-child(odd) {margin-right: 8px;}
    #info ul:nth-child(even) {margin-left: 8x;}
}

#info {
    padding-top: 24px;
}

#info h3 {
    font-size: 1.1em;
    font-weight: bold;
}

#info a:before {
    font-family: fawe; font-size:2em;
    line-height: 1em;
    color: #776c5e;
    opacity: 0.6;
    float:left;
    text-align: center;
    padding: 0 15px 80px 0;
}

#info a:hover:before {
    opacity: 1.0 !important;
}

main li {
    list-style-position: outside;
    margin-left: 1.1em;
    line-height: 1.6em;
}

.toc {
    float: right;
    margin: 0 0 1em 1em;
    font-size: 95%;
    line-height: 1.8em;
    background: transparent none repeat scroll 0 0;
    direction: rtl; /* Keeps details inside parent's right border */
}

@media only screen and (min-width: 550px) {
    .toc {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}

.toc details { opacity: 0.5;}
.toc details:hover { opacity: 0.5; opacity: 1; cursor: pointer; }
.toc details[open] { opacity: 1 }

.toc summary {
    display: inline-block;
    background-color:#e8f0fa;
    border-radius: 5px;
    list-style: none;
}

/* Replace the h4 text with an icon. */
.toc summary h4 { display: none; }
.toc summary:before {
    font-family: fawe;
    color: #22538e;
    font-size: 1.3em;
    line-height: 1em;
    padding: 0.4em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "\f00b";
    display: inline-block;
}

.toc summary::-webkit-details-marker {
    display: none;
}

.toc nav {
    overflow: scroll;
    background-color:#e8f0fa;
    border-radius: 5px;
    z-index: 10;
    box-shadow:  #889 -1px 1px 3px;
    position: absolute;
    max-height: 600px;
}

.toc > ul { min-width:180px; max-width:300px;  }
.toc li { list-style-type: none; margin: 0; white-space: nowrap; overflow-x: auto}
.toc ul { margin: 0 16px 16px 16px; }
.toc nav h3 { margin: 16px 16px 0; }
.toc ul, .toc h3 { direction: ltr; } /* Restore ltr */
.toc ul ul { margin: 0 0 0 1em }

pre {
    border: 0;
    line-height: 1.45em;
    margin-bottom: 2.1em;
    padding: .8em 1em;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
}

p code, li code {
    display: inline-block;
    white-space: no-wrap;
    background-color: #eee;
    padding: 0 .3em;
    border: 1px dotted #ccc;
    line-height: 1.45em;
}

p pre code, li pre code {
    background: none;
    border: none
}

.mono, pre, code, tt, p code, li code {
    font-size: .85em;
    font-family: "Source Code Pro", "Courier", monospace
}

#docidx section, #download section, #logos section:first-of-type {
    background-color: #e8f0fa;
    border-top: none;
    padding: 24px;
    margin-bottom: 32px;
    border-radius: 5px;
}

#logos section { border: none !important;}

#logos img {
    padding: 20px;
    height: 75px;
    float:left;
    margin: 0 20px 0px 0;
    background-image: linear-gradient(45deg, #ddd 25%, transparent 25%), linear-gradient(-45deg, #ddd 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ddd 75%), linear-gradient(-45deg, transparent 75%, #ddd 75%);
    background-size: 12px 12px;
    background-position: 0 0, 0 6px, 6px -6px, -6px 0px;
}

#logos div { margin-bottom: 24px; }

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
#logos div:before, #logos div:after { content: ""; display: table; }
#logos div:after { clear: both; }

@media only screen and (max-width: 550px) {
    #logos .logo img { width: 100%; float: none; padding: 20px 0; margin: 0 }
}

#logos img.light {
    background-color: #666;
    background-image: linear-gradient(45deg, #333 25%, transparent 25%), linear-gradient(-45deg, #333 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #333 75%), linear-gradient(-45deg, transparent 75%, #333 75%);
}

#logos ul {
    list-style-type: none;
    clear: right;
}

#logos li {
    display: inline;
    margin: 0;
}

#logos li + li:before {
    content: "\00a0\00a0⬩\00a0\00a0";
}

#logos hr {
    clear: both;
    visibility: hidden;
}

#download section.download li {
    list-style-type: none;
    list-style-position: outside; 
    margin-left: 10px;
}

#docidx section:before, #download section:before, #logos .cc:before {
    font-family: fawe;
    float: left;
    font-size: 2.5em;
    padding: 14px 16px 24px 0;
    text-align: center;
    color: #776c5e;
    width: 1.2em;
}

@media only screen and (max-width: 550px) {
    #docidx section:before, #download section:before { font-size: 2.5em; padding: 16px 12px 16px 0; }
}

#docidx section.video:before {
     padding-top: 14px !important;
}

#docidx section ul, #download section ul { margin-bottom: 0; }

#manlist h2 { color: #776c5e; font-weight: 500; }
#manlist i.i:before { font-family: fawe; font-size: .8em; width: 40px; display: inline-block; text-align: center;}
#manlist li, #docidx li, #download section li {
    margin-left: 0;
    list-style-position: outside;
    margin-left: 35px;
}
#manlist li a { font-weight: 500 }

/* hugo gen chromastyles --style=monokai >> themes/justatheory/static/css/screen.css */
/* Background */ pre, .chroma { color: #f8f8f2; background-color: #333 } /* Modified to add pre and to lighten background */
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #66d9ef }
/* KeywordConstant */ .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .chroma .kr { color: #66d9ef }
/* KeywordType */ .chroma .kt { color: #66d9ef }
/* NameAttribute */ .chroma .na { color: #a6e22e }
/* NameClass */ .chroma .nc { color: #a6e22e }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction */ .chroma .nf { color: #a6e22e }
/* NameOther */ .chroma .nx { color: #a6e22e }
/* NameTag */ .chroma .nt { color: #f92672 }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #e6db74 }
/* LiteralString */ .chroma .s { color: #e6db74 }
/* LiteralStringAffix */ .chroma .sa { color: #e6db74 }
/* LiteralStringBacktick */ .chroma .sb { color: #e6db74 }
/* LiteralStringChar */ .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .chroma .s2 { color: #e6db74 }
/* LiteralStringEscape */ .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .chroma .si { color: #e6db74 }
/* LiteralStringOther */ .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .chroma .s1 { color: #e6db74 }
/* LiteralStringSymbol */ .chroma .ss { color: #e6db74 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: #f92672 }
/* OperatorWord */ .chroma .ow { color: #f92672 }
/* Comment */ .chroma .c { color: #75715e }
/* CommentHashbang */ .chroma .ch { color: #75715e }
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }
/* CommentSpecial */ .chroma .cs { color: #75715e }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* GenericDeleted */ .chroma .gd { color: #f92672 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #75715e }
