
.icon-cpan:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\f019'; } /* '' */
.icon-book:before { content: '\f02d'; } /* '' */
.icon-videocam:before { content: '\f03d'; } /* '' */
.icon-info-circle:before { content: '\f05a'; } /* '' */
.icon-chat:before { content: '\f086'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-code-branch:before { content: '\f126'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-sync-alt:before { content: '\f2f1'; } /* '' */
.icon-docker:before { content: '\f395'; } /* '' */
.icon-centos:before { content: '\f789'; } /* '' */
.icon-ubuntu:before { content: '\f7df'; } /* '' */