
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-cpan:before { content: '\e803'; } /* '' */
.icon-sqitch:before { content: '\e80c'; } /* '' */
.icon-th-list:before { content: '\f00b'; } /* '' */
.icon-cog:before { content: '\f013'; } /* '' */
.icon-download:before { content: '\f019'; } /* '' */
.icon-book:before { content: '\f02d'; } /* '' */
.icon-videocam:before { content: '\f03d'; } /* '' */
.icon-info-circle:before { content: '\f05a'; } /* '' */
.icon-chat:before { content: '\f086'; } /* '' */
.icon-upload:before { content: '\f093'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-code-branch:before { content: '\f126'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-creative-commons:before { content: '\f25e'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-sync-alt:before { content: '\f2f1'; } /* '' */
.icon-docker:before { content: '\f395'; } /* '' */
.icon-chalkboard-teacher:before { content: '\f51c'; } /* '' */
.icon-centos:before { content: '\f789'; } /* '' */
.icon-redhat:before { content: '\f7bc'; } /* '' */
.icon-ubuntu:before { content: '\f7df'; } /* '' */