<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    <meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sqitch: Sane database change management</title>
	<meta name="description" content="Sqitch is a database change management application." />
	<link rel="stylesheet" href="/css/screen.css" />
</head>
<body>
	<header>
		<hgroup id="top">
			<h1><a href="/"><img src="/img/masthead.png" srcset="/img/masthead.svg" alt="Sqitch" title="Sqitch"></a></h1>
		</hgroup>
		<nav id="bar">
			<menu>
				<li class="icon"><a href="" title="About"><i class="about"></i></a></li>
				<li class="icon"><a href="" title="Documentation"><i class="docs"></i></a></li>
				<li class="icon"><a href="" title="Community"><i class="community"></i></a></li>
				<li class="icon"><a href="" title="Download"><i class="download"></i></a></li>
			</menu>
		</nav>
	</header>
