<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    <meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sqitch: Sane database change management</title>
	<meta name="description" content="Sqitch is a database change management application." />
	<link rel="stylesheet" href="/css/screen.css" />
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i,500,500i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#22538e">
	<meta name="msapplication-TileColor" content="#22538e">
	<meta name="theme-color" content="#fcffff">
</head>
<body>
	<header id=masthead>
		<hgroup id="top">
			<h1><a href="/"><img src="/img/masthead.png" srcset="/img/masthead.svg" alt="Sqitch" title="Sqitch"></a></h1>
		</hgroup>
		<nav id="bar">
			<menu>
				<li class="icon"><a href="/about" title="About"><i class="about"></i></a></li>
				<li class="icon"><a href="/docs/" title="Documentation"><i class="docs"></i></a></li>
				<li class="icon"><a href="/community/" title="Community"><i class="community"></i></a></li>
				<li class="icon"><a href="/downloads/" title="Download"><i class="download"></i></a></li>
			</menu>
		</nav>
	</header>
